<ion-grid class="ion-no-padding" style="width: 100%">
  <ion-row>
    <ion-col class="ion-no-padding ion-padding-horizontal ion-padding-bottom">
      <!-- <ul>
        <li><span class="txtlbl1">Hello,</span><span class="txtlbl2">Suren</span></li>
        <li style="color:#333">London (LHR)</li>
      </ul> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding ion-padding-horizontal ion-padding-bottom">
      <div class="cardgenericwrap">
        <div class="titlepnl">ULD Predition (Next 7 Days)</div>

        @if(forecastChartData?.length && !loader){
        <div class="contentpnl">
          <!-- <div class="datelispnl ion-margin-bottom">
             @for (item of dateForFilter; track item; let i = $index) {
                <ul (click)="selectDay(item)" [class.active]="selectedDay === item">
                  <li>{{item | date: 'MMM'}}</li>
                  <li>{{item | date: 'dd'}}</li>
                </ul>
              }
          </div> -->

          <div class="chartpnl">
            <app-uld-forecast-chart
              [chartData]="forecastChartData"
              (childEvent)="handleChildData($event)"
            ></app-uld-forecast-chart>

            <!-- <div class="cargo-dashboard">
              <main class="cargo-dashboard__main">
                <div class="dashboard-container">
                    
                </div>
              </main>
            </div> -->

            <!-- <div class="cargo-dashboard">
            <main class="cargo-dashboard__main">
              <div class="dashboard-container">
                
                 <div class="predictions-card">
                  
                  <div class="day-selector">
                    <button
                      *ngFor="let day of [1,2,3,4,5,6,7]"
                      class="day-btn"
                      [class.active]="selectedDay === day"
                      (click)="selectDay(day)"
                    >
                      Day {{day}}
                    </button>
                  </div>

                
                  <div class="chart-container">
                    <ejs-chart
                      id="prediction-chart"
                      [primaryXAxis]="primaryXAxis"
                      [primaryYAxis]="primaryYAxis"
                      [tooltip]="tooltip"
                      [title]="chartTitle"
                      height="280px"
                      [background]="'transparent'"
                      [enableAnimation]="true"
                    >
                      <e-series-collection>
                        <e-series
                          [dataSource]="predictionData"
                          type="Spline"
                          xName="day"
                          yName="count"
                          name="ULD Count"
                          [marker]="marker"
                          fill="#64043C"
                          width="3"
                        >
                        </e-series>
                      </e-series-collection>
                    </ejs-chart>
                  </div>
                </div> 
                 <div class="predictions-card">
                  
                </div>

                

              </div>
            </main>
          </div> -->
          </div>
        </div>
        } @else{
        <app-loader></app-loader>
        }
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <div class="cargo-dashboard" style="display:none">
  <main class="cargo-dashboard__main">
    <div class="dashboard-container">
      
      <div class="predictions-card">
        <h2>7-Day ULD Count Predictions</h2>

        
        <div class="day-selector">
          <button
            *ngFor="let day of [1,2,3,4,5,6,7]"
            class="day-btn"
            [class.active]="selectedDay === day"
            (click)="selectDay(day)"
          >
            Day {{day}}
          </button>
        </div>

       
        <div class="chart-container">
          <ejs-chart
            id="prediction-chart"
            [primaryXAxis]="primaryXAxis"
            [primaryYAxis]="primaryYAxis"
            [tooltip]="tooltip"
            [title]="chartTitle"
            height="280px"
            [background]="'transparent'"
            [enableAnimation]="true"
          >
            <e-series-collection>
              <e-series
                [dataSource]="predictionData"
                type="Spline"
                xName="day"
                yName="count"
                name="ULD Count"
                [marker]="marker"
                fill="#64043C"
                width="3"
              >
              </e-series>
            </e-series-collection>
          </ejs-chart>
        </div>
      </div>
      <div class="predictions-card">
        <app-uld-forecast-chart
          [chartData]="forecastChartData"
        ></app-uld-forecast-chart>
      </div>

      
      <div class="cargo-dashboard__stats-overview">
        
        <div
          class="cargo-dashboard__stat-card cargo-dashboard__stat-card--shipments"
          (click)="onCardClick('shipments')"
        >
          <ng-container *ngIf="!loader; else loaderTemplate">
            <div class="cargo-dashboard__card-content">
              <div class="cargo-dashboard__card-icon">📦</div>
              <div class="cargo-dashboard__stat-value">
                {{ dashboardData?.totalShipments }}
              </div>
              <div class="cargo-dashboard__stat-label">Active Shipments</div>
              <div
                class="cargo-dashboard__stat-trend"
                [class.cargo-dashboard__stat-trend--up]="checkUpTrendClass(dashboardData?.totalShipmentUpDown)"
                [class.cargo-dashboard__stat-trend--down]="!checkUpTrendClass(dashboardData?.totalShipmentUpDown)"
              >
                <span class="cargo-dashboard__trend-icon"
                  >{{ checkUpTrendClass(dashboardData?.totalShipmentUpDown) ?
                  '↗️' : '↘️' }}</span
                >
                {{dashboardData?.totalShipmentUpDown}}
              </div>
            </div>
          </ng-container>
          <ng-template #loaderTemplate>
            <app-loader></app-loader>
          </ng-template>
        </div>

       
        <div
          class="cargo-dashboard__stat-card cargo-dashboard__stat-card--performance"
          (click)="onCardClick('performance')"
        >
          <ng-container *ngIf="!loader; else loaderTemplate">
            <div class="cargo-dashboard__card-content">
              <div class="cargo-dashboard__card-icon">⏱️</div>
              <div class="cargo-dashboard__stat-value">
                {{ dashboardData?.onTimePerformance }}%
              </div>
              <div class="cargo-dashboard__stat-label">On-Time Performance</div>
              <div
                class="cargo-dashboard__stat-trend"
                [class.cargo-dashboard__stat-trend--up]="checkUpTrendClass(dashboardData?.onTimePerformanceUpDown)"
                [class.cargo-dashboard__stat-trend--down]="!checkUpTrendClass(dashboardData?.onTimePerformanceUpDown)"
              >
                <span class="cargo-dashboard__trend-icon"
                  >{{ checkUpTrendClass(dashboardData?.onTimePerformanceUpDown) ?
                  '↗️' : '↘️' }}</span
                >
                {{dashboardData?.onTimePerformanceUpDown}}
              </div>
            </div>
          </ng-container>
          <ng-template #loaderTemplate>
            <app-loader></app-loader>
          </ng-template>
        </div>

       
        <div
          class="cargo-dashboard__stat-card cargo-dashboard__stat-card--revenue"
          (click)="onCardClick('revenue')"
        >
          <ng-container *ngIf="!loader; else loaderTemplate">
            <div class="cargo-dashboard__card-content">
              <div class="cargo-dashboard__card-icon">💰</div>
              <div class="cargo-dashboard__stat-value">
                ${{ dashboardData?.revenue }}M
              </div>
              <div class="cargo-dashboard__stat-label">Monthly Revenue</div>
              <div
                class="cargo-dashboard__stat-trend"
                [class.cargo-dashboard__stat-trend--up]="checkUpTrendClass(dashboardData?.revenueUpDown)"
                [class.cargo-dashboard__stat-trend--down]="!checkUpTrendClass(dashboardData?.revenueUpDown)"
              >
                <span class="cargo-dashboard__trend-icon"
                  >{{ checkUpTrendClass(dashboardData?.revenueUpDown) ? '↗️' :
                  '↘️' }}</span
                >
                {{dashboardData?.revenueUpDown}}
              </div>
            </div>
          </ng-container>
          <ng-template #loaderTemplate>
            <app-loader></app-loader>
          </ng-template>
        </div>

        
        <div
          class="cargo-dashboard__stat-card cargo-dashboard__stat-card--alerts"
          (click)="onCardClick('alerts')"
        >
          <ng-container *ngIf="!loader; else loaderTemplate">
            <div class="cargo-dashboard__card-content">
              <div class="cargo-dashboard__card-icon">🚨</div>
              <div class="cargo-dashboard__stat-value">
                {{ dashboardData?.activeAlerts }}
              </div>
              <div class="cargo-dashboard__stat-label">Active Alerts</div>
              <div
                class="cargo-dashboard__stat-trend"
                [class.cargo-dashboard__stat-trend--up]="checkUpTrendClass(dashboardData?.activeAlertsUpDown)"
                [class.cargo-dashboard__stat-trend--down]="!checkUpTrendClass(dashboardData?.activeAlertsUpDown)"
              >
                <span class="cargo-dashboard__trend-icon"
                  >{{ checkUpTrendClass(dashboardData?.activeAlertsUpDown) ? '↗️'
                  : '↘️' }}</span
                >
                {{dashboardData?.activeAlertsUpDown}}
              </div>
            </div>
          </ng-container>
          <ng-template #loaderTemplate>
            <app-loader></app-loader>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div> -->
