<ion-tabs >
  <ion-tab-bar slot="bottom">
    <!-- <div class="tabbtngrp">
      <a class="tabbtn-home" tab="dashboard" href="/tabs/dashboard">Home</a>
      <a class="tabbtn-askai" tab="aiChat" href="/tabs/aiChat">Ask AI</a>
      <a class="tabbtn-track" tab="revenue-optimization" href="/tabs/revenue-optimization">Track</a>
    </div> -->

    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aiChat" href="/tabs/aiChat">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>AI chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="flight-map" href="/tabs/flight-map">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>ULD Track</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="predictive-analysis" href="/tabs/predictive-analysis">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="flight-map" href="/tabs/flight-map">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Flight</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
