
ion-tab-bar {
  --background: #ffffff !important;          /* background color */
  --color: #8c8c8c;              /* default text/icon color */
  --color-selected: var(#64043C); /* active tab color */
  --border: 1px solid #fff;      /* top border of tab bar */
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom:2rem;
}


.tabbtn-home{
background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNjY2NjY2Ij48cGF0aCBkPSJNMjQwLTIwMGgxNDcuNjl2LTIzNS4zOGgxODQuNjJWLTIwMEg3MjB2LTM2MEw0ODAtNzQxLjU0IDI0MC01NjB2MzYwWm0tNDAgNDB2LTQyMGwyODAtMjExLjU0TDc2MC01ODB2NDIwSDUzMi4zMXYtMjM1LjM4SDQyNy42OVYtMTYwSDIwMFptMjgwLTMxMC43N1oiLz48L3N2Zz4=")no-repeat center;
background-size: 1.5rem;
}
.tabbtn-askai{
background: #FFF url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNjY2NjY2Ij48cGF0aCBkPSJNMjUyLjMxLTU0MGgzNS4zOHYtNDBoLTM1LjM4djQwWm0xMDAgODBoMzUuMzh2LTIwMGgtMzUuMzh2MjAwWm0xMTAgODBoMzUuMzh2LTM2MGgtMzUuMzh2MzYwWm0xMTAtODBoMzUuMzh2LTIwMGgtMzUuMzh2MjAwWm0xMDAtODBoMzUuMzh2LTQwaC0zNS4zOHY0MFpNMTIwLTE1Ni45MnYtNjE4LjQ2cTAtMjcuNjIgMTguNS00Ni4xMlExNTctODQwIDE4NC42Mi04NDBoNTkwLjc2cTI3LjYyIDAgNDYuMTIgMTguNVE4NDAtODAzIDg0MC03NzUuMzh2NDMwLjc2cTAgMjcuNjItMTguNSA0Ni4xMlE4MDMtMjgwIDc3NS4zOC0yODBoLTUzMi4zTDEyMC0xNTYuOTJaTTIyNi0zMjBoNTQ5LjM4cTkuMjQgMCAxNi45My03LjY5IDcuNjktNy42OSA3LjY5LTE2Ljkzdi00MzAuNzZxMC05LjI0LTcuNjktMTYuOTMtNy42OS03LjY5LTE2LjkzLTcuNjlIMTg0LjYycS05LjI0IDAtMTYuOTMgNy42OS03LjY5IDcuNjktNy42OSAxNi45M3Y1MjEuMTVMMjI2LTMyMFptLTY2IDB2LTQ4MCA0ODBaIi8+PC9zdmc+") no-repeat center;
background-size: 1.5rem;
}
.tabbtn-track{
background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNjY2NjY2Ij48cGF0aCBkPSJNMTIwLTI0MS41NHYtNDBoMzgyLjMxdjQwSDEyMFptMC0xOTEuNTR2LTQwaDE3OC40NnY0MEgxMjBabTAtMTkxLjU0di00MGgxNzguNDZ2NDBIMTIwWk04MTEuNjktMjQwIDY1Ni4xNS0zOTMuMjNxLTIxLjY5IDE2LjIzLTQ3LjExIDI1LjExLTI1LjQyIDguODktNTIuMTIgOC44OS02Ny4zNSAwLTExNC44My00Ni41OC00Ny40Ny00Ni41Ny00Ny40Ny0xMTMuODEgMC02Ny4yMyA0Ny41Mi0xMTMuOFE0ODkuNjctNjgwIDU1Ny4xMS02ODBxNjcuNDMgMCAxMTQuNzcgNDYuNTggNDcuMzUgNDYuNTcgNDcuMzUgMTEzLjQyIDAgMjYuNjktOC44OCA1Mi4xMi04Ljg5IDI1LjQyLTI1Ljg5IDQ2LjM0TDg0MC0yNjguMzEgODExLjY5LTI0MFpNNTU2LjkyLTM5OS4yM3E1MC45NiAwIDg2LjY0LTM1IDM1LjY3LTM1IDM1LjY3LTg1LjM5IDAtNTAuMzgtMzUuNjctODUuMzgtMzUuNjgtMzUtODYuNjQtMzV0LTg2LjYzIDM1cS0zNS42NyAzNS0zNS42NyA4NS4zOCAwIDUwLjM5IDM1LjY3IDg1LjM5dDg2LjYzIDM1WiIvPjwvc3ZnPg==")no-repeat center;
background-size: 1.5rem;
}