
ion-tab-bar {
  --background: #ffffff !important;          /* background color */
  --color: #8c8c8c;              /* default text/icon color */
  --color-selected: var(--primary-color); /* active tab color */
  --border: 1px solid #fff;      /* top border of tab bar */
}
