  <ion-header translucent="true">
    <ion-toolbar color="transparent">
      <ion-grid class="ion-no-padding ion-no-margin ion-padding-horizontal">
        <ion-row>
          <ion-col size="auto"><span class="logotxt1">Q</span><span class="logotxt2">NeoULD</span></ion-col>
          <ion-col> </ion-col>
          <ion-col size="auto"><input type="button" value="" class="btn_notification"/></ion-col>
          <ion-col size="auto" class="ion-padding-start"><input type="button" value="" class="btn_profile"/></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-router-outlet></ion-router-outlet>
    <app-chat-bubble></app-chat-bubble>
  </ion-content>