  <ion-header>
    <ion-toolbar >
      <ion-grid class="ion-no-padding ion-no-margin ion-padding-horizontal">
        <ion-row>
          <ion-col size="auto"><span class="logotxt1">Q-</span><span class="logotxt2">NeoULD</span></ion-col>
          <ion-col> </ion-col>
          <ion-col size="auto" style=" top: 5px;"><input type="button" value="" class="btn_notification"/><span class="badge">2</span></ion-col>
          <ion-col size="auto" style=" top: 5px;" class="ion-padding-start"><input type="button" value="" class="btn_profile"/></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-router-outlet></ion-router-outlet>
    <!-- <app-chat-bubble></app-chat-bubble> -->
  </ion-content>