
.btn_primary{
border:0.1rem solid var(--primary-color);
background:var(--primary-color);
color:#FFF;
font-size:0.9rem;
font-weight:400;
padding:0.5rem;
border-radius:2rem;
}
.btn_primary:hover{
border:0.1rem solid var(--primary-hover-color);
background:var(--primary-hover-color);
}
.btn_secondary{
border:0.1rem solid transparent;
background:transparent;
color:var(--primary-color);
font-size:0.9rem;
font-weight:400;
padding:0.5rem;
border-radius:2rem;
}
.btn_secondary:hover{
color:var(--primary-hover-color);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F2F3FA;
  font-size: 12px;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
ion-header{
    box-shadow: none;
 ion-toolbar {
  --background: var(--background-color);
  --ion-color-base: var(--background-color) !important;
  box-shadow: none;
}
}
ion-content {
  --background: var(--background-color);
  --offset-bottom: -45px !important;
}