 <div class="trackuldinputwrap" *ngIf="!isTrackenabled">
   <ul class="trackuldinputpnl">
     <li class="li1">Track ULD</li>
     <li class="li2"><input type="text" value="AKE33366QN"/></li>
     <li class="li3"><input type="button" value="Track" class="btn_primary" (click)="trackfunc()"/></li>
   </ul>
 </div>

 <div class="trackuldresultwrap fixed" *ngIf="isTrackenabled">
   <div class="trackrow1">
     <div class="backbtnpnl" (click)="backtrackfunc()">&nbsp;</div>
     <div class="infotxtpnl">
       <span class="infotxt1">AKE33366QN</span>
       <span class="infotxt2">AKE Container | In Storage | LHR Terminal 4</span>
     </div>
   </div>
 </div>

  <div class="trackuldresultwrap" *ngIf="isTrackenabled" style="height:calc(100dvh - 6rem); overflow:auto">
   <div class="trackrow2">
     <div class="ulddevwrap">
       <div class="uldwidpnl temp">
         <div class="r1c0"><span> </span></div>
         <div  class="r1c1">
           <div class="row1"><span>Temperature</span></div>
         <div class="row2">{{ telemetryData.temperature.value }}{{ telemetryData.temperature.unit }}</div>
         <div class="row3">Range: {{ telemetryData.temperature.range.min }}c to {{ telemetryData.temperature.range.max }}c</div>
         </div>
         <div class="r1c2">
         <div class="row1"><span class="{{ telemetryData.temperature.status }}">{{ telemetryData.temperature.status }}</span></div>
         <div class="row3">{{ telemetryData.currentLocation.updatedMinutesAgo }} min ago</div></div>
       </div>
       <div class="uldwidpnl location">
         <div class="r1c0"><span> </span></div>
         <div  class="r1c1">
           <div class="row1"><span>Current Location</span></div>
         <div class="row2">{{ telemetryData.currentLocation.value }}</div>
         <div class="row3">{{ telemetryData.currentLocation.description }}</div>
         </div>
         <div  class="r1c2">
           <div class="row1"><span class="{{ telemetryData.temperature.status }}">{{ telemetryData.currentLocation.details.locationType }}</span></div>
           <div class="row3">{{ telemetryData.currentLocation.updatedMinutesAgo }} min ago</div>
         </div>

       </div>
       <div class="uldwidpnl signal">
         <div class="r1c0"><span> </span></div>
         <div  class="r1c1">
         <div class="row1"><span>Signal Strength</span></div>
         <div class="row2">{{ telemetryData.signalStrength.value }}</div>
         </div>
         <div  class="r1c2">
         <div class="row1"><span class="{{ telemetryData.signalStrength.status }}">{{ telemetryData.signalStrength.status }}</span></div>
         <div class="row3">Synced {{ telemetryData.signalStrength.lastSyncMinutesAgo }} min ago</div>
       </div>
       </div>
       <div class="uldwidpnl battery">
         <div class="r1c0"><span> </span></div>
         <div  class="r1c1">
         <div class="row1"><span>Battery Level</span></div>
         <div class="row2">{{ telemetryData.batteryLevel.value }}{{ telemetryData.batteryLevel.unit }}</div>
         </div>
         <div  class="r1c2">
         <div class="row1"><span class="{{ telemetryData.batteryLevel.status.text }}">{{ telemetryData.batteryLevel.status.text }}</span></div>
         <div class="row3">Remaining {{ telemetryData.batteryLevel.status.remainingTimeEstimateHours }} hours</div>
         </div>
       </div>
     </div>
   </div>
   <div class="trackrow3">
     <div class="segmented" role="tablist" aria-label="View switch">
       <button
          id="timeline-tab"
          type="button"
          role="tab"
          [class.active]="view === 'timeline'"
          (click)="view = 'timeline'">
          Activity Timeline
       </button>
       <button
          id="journey-tab"
          type="button"
          role="tab"
          [class.active]="view === 'journey'"
          (click)="view = 'journey'">
          Journey Map
       </button>
       </div>
   </div>
   <div class="trackrow4" *ngIf="view === 'timeline'">
     <div class="journeryoverwrap">
       <h6>Journey Overview</h6>
       <ul>
         <li class="licol1"><span class="spn1">Temp Compliance</span><span class="spn2"> {{ journdata.tempCompliance }}</span></li>
         <li class="licol2"><span class="spn1">System Uptime</span><span class="spn2">{{ journdata.systemUptime }}</span></li>
         <li class="licol3"><span class="spn1">GPS Accuracy</span><span class="spn2">{{ journdata.gpsAccuracy }}</span></li>
         <li class="licol4"><span class="spn1">Events</span><span class="spn2">{{ journdata.events }}</span></li>
       </ul>
     </div>
   </div>
   <div class="trackrow4"  *ngIf="view === 'timeline'">
     <div class="activitylogwrap">
       <div class="actrow1"><h6>Activity Log</h6></div>
       <div class="actrow2">
         <div class="filterwrap">
           <span [class.active]="selectedTypes().size === 0"
           (click)="toggleType('All')">
           All ({{ countEvent('All') }})
           </span>
           <span *ngFor="let t of eventTypes"
           [class.active]="selectedTypes().has(t)"
           (click)="toggleType(t)">
           {{ t }} ({{ countEvent(t) }})
           </span>
         </div>
       </div>
       <div class="actrow4"> </div>
         <div class="activitylogwrapp">
         <div *ngFor="let log of filtered()" class="activitylog {{log.severity}}">
           <div class="actr1c1">
             <span class="titletxt">{{ log.eventType }} | {{ log.location }}</span>
             <span>{{ log.notes }}</span>
           </div>
           <div class="actr1c2">
             <span class="severity" [class]="log.severity">{{ log.severity }}</span>
             <span class="timelog">{{ toLocalTime(log.timestamp) }}</span>
           </div>
         <!-- <div class="time">{{ toLocalTime(log.timestamp) }}</div>
         <div class="event">{{ log.eventType }}</div>
         <div class="severity" [class]="log.severity">{{ log.severity }}</div>
         <div class="loc">{{ log.location }}</div>
         <div class="notes">{{ log.notes }}</div> -->
         </div>
         <div *ngIf="filtered().length === 0" class="empty">
          No logs found for current filters.
         </div>
       </div>
     </div>
   </div>
   <div class="trackrow5"  *ngIf="view === 'journey'">
    <div class="map-container">
      <div #mapElement class="map-element" id="map"></div>
      <div class="map-legend">
        <h4>Legend</h4>
        <div class="legend-item">
          <span class="legend-dot green"></span>
          <span>Good Status (G)</span>
        </div>
        <div class="legend-item">
          <span class="legend-dot red"></span>
          <span>Risk Status (R)</span>
        </div>
      </div>
    </div>
   </div>
 </div>