/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html,body{
font-family: "Open Sans", sans-serif;
}
:root{
--primary-color:#303F9F;
--primary-hover-color:#283593;
--background-color:#F2F3FA;
--box-shadow:rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
--ion-font-family: "Open Sans", sans-serif;
}
ul{
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
app-revenue-optimization-test, app-uld-tracking{
    overflow: auto !important;
}



.btn_primary{
border:0.1rem solid var(--primary-color);
background:var(--primary-color);
color:#FFF;
font-size:0.9rem;
font-weight:400;
padding:0.5rem;
border-radius:2rem;
}
.btn_primary:hover{
border:0.1rem solid var(--primary-hover-color);
background:var(--primary-hover-color);
}
.btn_secondary{
border:0.1rem solid transparent;
background:transparent;
color:var(--primary-color);
font-size:0.9rem;
font-weight:400;
padding:0.5rem;
border-radius:2rem;
}
.btn_secondary:hover{
color:var(--primary-hover-color);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F2F3FA;
  font-size: 12px;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.txtlbl1{
    color:#333;
}
.txtlbl2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 0.2rem;
    color:#333;
}
html,body{
    font-size: 14px !important;
}

:host(.tab-selected) {
  color: #64043C;
}

ion-tab-button {
  --color-selected: #64043C;
}

ion-tab-button.tab-selected {
  color: #64043C !important;
}


